<!DOCTYPE html>
<html>
	<head>
		<title>{{map_title}}</title>
		<meta name="viewport" content="initial-scale=1.0">
		<meta charset="utf-8">
		<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
		<link rel="stylesheet" href="simplemap/templates/static/css/basic.css">
	</head>
	<body>
		<div id="sidebar">
			<h2>Waypointer</h2>
			<p>{{ message|safe }}</p>
		</div>
		<div id="map"></div>
		<script>

function initMap() {

	var bounds = new google.maps.LatLngBounds();
	var center_lat_lon = {{center|safe}};

	var map = new google.maps.Map(document.getElementById('map'), {
		zoom: {{ zoom|safe }},
		center:  center_lat_lon
	});
	// markers is the actual pins you'll see on gmaps.
	var markers =  {{ markers|safe }};
	//points are close to markers but formatted differently as the flightPath var needs it like so.
	var points = {{ points|safe }};

	// flightPath takes the points and draws lines between them all.
	var flightPath = new google.maps.Polyline({
          path: points,
          geodesic: true,
          strokeColor: '#FF0000',
          strokeOpacity: 1.0,
          strokeWeight: 2
        });

	flightPath.setMap(map);
	

	for( i = 0; i < markers.length; i++ ) {
				var position = new google.maps.LatLng(markers[i][1], markers[i][2]);
				var title = markers[i][0]
				bounds.extend(position);
				marker = new google.maps.Marker({
						position: position,
						map: map,
						title:title

				});

			}

		{{ 'map.fitBounds(bounds);' if center == 'null' else '' }}
}
		</script>
		<script src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&signed_in=true&callback=initMap"
		async defer></script>
	</body>
</html>